<link rel="stylesheet" href="../css/titleBar.css" />
<link rel="stylesheet" href="../css/render.css" />
<link rel="stylesheet" href="../css/all.css" />
<link rel="stylesheet" href="../css/photoPackageTable.css" />
<link rel="stylesheet" href="../css/sidebar.css" />
<link rel="stylesheet" href="../css/icons.css" />

<header>
    <div id="menu-bar">
        <div class="left toggle" id="active" role="menu">
            <button class="toggleButton click" id="showHideMenus"><i class="fas fa-bars"></i></button>
            <h4>Athlimage</h4>
        </div>
        <div class="right">
            <button class="menubar-btn" id="minimize-btn"><i class="fas fa-window-minimize"></i></button>
            <button class="menubar-btn" id="max-unmax-btn"><i class="far fa-square"></i></button>
            <button class="menubar-btn" id="close-btn"><i class="fas fa-times"></i></button>
        </div>
    </div>
</header>