svg {
    stroke: #17202A;
    padding-left: 5px;
}

line {
    border: 1px solid;
}

.icon {
    display: block;
}

.icon--settings {
    color: transparent;
}

.icon-settings {
    color:#17202A;
    fill: #17202A;
    stroke: #808B96;
    stroke-width:0.1;
    stroke-linejoin: round;
}